{% extends "@ContaoCore/Backend/be_page.html.twig" %}
{% form_theme form '@NetzmachtContaoForm/form/contao_backend.html.twig' %}

{% block headline %}Cowegis Geocoder Playground{% endblock %}

{% block error %}{{ error }}{% endblock %}

{% block main %}
    <h3 class="sub_headline cowegis-sub-headline">Anfrage stellen</h3>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

    {% if submitted %}
    <h3 class="sub_headline cowegis-sub-headline">Results</h3>
    <div class="cowegis-geocoder-box">

        <table class="cowegis-geocoder-playground-result-list">
            <thead>
            <tr>
                <th>Address</th>
                <th>Latitude</th>
                <th>Longitude</th>
            </tr>
            </thead>
            <tbody>
            {% for address in result %}
                <tr class="hover-row">
                    <td>
                        {{ address.country }} {{ address.locality }}
                        {% if address.streetName %}, {{ address.streetName }} {{ address.streetNumber }}{% endif %}
                        {% if address.adminLevels.count > 0 %}
                            <br><small>
                            {% for adminLevel in address.adminLevels %}
                                <span class="cowegis-geocoder-playground-admin-level">{{ adminLevel.name }}</span>
                            {% endfor %}
                        </small>
                        {% endif %}
                    </td>
                    <td>{{ address.coordinates.latitude|default() }}</td>
                    <td>{{ address.coordinates.longitude|default() }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
{% endblock %}

